<!-- <h3>Event Management</h3>
<br>
<div><a routeLink="./create">add a new event</a></div>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Event</th>
      <th>Category</th>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of dataSource; index as i; let o=odd; let e=even;"
      [ngClass]="{odd: o, even: e}">
      <td>{{event.name}}</td>
      <td>{{event.category}}</td>
      <td>{{event.location}}</td>
      <td>{{event.startdate}}</td>
      <td>{{event.enddate}}</td>
      <a routerLink="/edit" [queryParams]="{id:1}">Edit</a>
      
    </tr>
  </tbody>
</table>

 -->


 <mat-spinner *ngIf="isLoading"></mat-spinner>
 <mat-horizontal-stepper #stepper (submit)="onSaveEvent()" *ngIf="!isLoading" >
   <!-- #################### Event Details #################################### -->
   <mat-step [stepControl]="eventGroup">
     <form [formGroup]="eventGroup">
       <ng-template matStepLabel>Event Details</ng-template>
       <table class="w-80">
         <tr>
           <td class="pr-1">
             <mat-form-field class="w-100">
               <input
                 matInput
                 placeholder="Event Title*"
                 formControlName="eventNameCtrl"
               />
               <mat-error *ngIf="eventGroup.get('eventNameCtrl').invalid">
                 Please enter a event title.
               </mat-error>
             </mat-form-field>
           </td>
           <td>
             <mat-form-field>
               <mat-select
                 placeholder="Category*"
                 formControlName="categoryCtrl"
               >
                 <mat-option value="Event">Event</mat-option>
                 <mat-option value="SocialService">Social Service</mat-option>
               </mat-select>
               <mat-error *ngIf="eventGroup.get('categoryCtrl').invalid">
                 Please select a category type.
               </mat-error>
             </mat-form-field>
           </td>
         </tr>
         <tr>
           <td colspan="2">
             <mat-form-field class="w-100">
               <textarea
                 matInput
                 placeholder="Description*"
                 formControlName="descriptionCtrl"
                 rows="5"
               ></textarea>
               <mat-error *ngIf="eventGroup.get('descriptionCtrl').invalid">
                 Please write some description for the event.
               </mat-error>
             </mat-form-field>
           </td>
         </tr>
         <tr>
           <td colspan="2">
             <mat-form-field>
               <mat-select placeholder="Status*" formControlName="statusCtrl">
                 <mat-option value="Active">Active</mat-option>
                 <mat-option value="In-Active">In-Active</mat-option>
               </mat-select>
               <mat-error *ngIf="eventGroup.get('statusCtrl').invalid">
                 Please select a status.
               </mat-error>
             </mat-form-field>
           </td>
         </tr>
       </table>
 
       <div>
         <button mat-raised-button matStepperNext style="margin: 10px; color: midnightblue">Next   <mat-icon>arrow_forward</mat-icon></button>
         <button mat-raised-button [routerLink]="['/admin/event-management']" style="margin: 10px;color: tomato">Cancel   <mat-icon>cancel</mat-icon></button>
       </div>
     </form>
   </mat-step>
   <!-- #################### Location Details #################################### -->
   <mat-step [stepControl]="locationGroup">
     <form [formGroup]="locationGroup">
       <ng-template matStepLabel>Location</ng-template>
       <table class="w-80">
         <tr>
           <td class="pr-1">
             <mat-form-field class="w-100">
               <input
                 matInput
                 placeholder="Street*"
                 formControlName="streetCtrl"
               />
               <mat-error *ngIf="locationGroup.get('streetCtrl').invalid">
                 please provide a street name.
               </mat-error>
             </mat-form-field>
           </td>
           <td>
             <mat-form-field class="w-80">
               <input matInput placeholder="City*" formControlName="cityCtrl" />
               <mat-error *ngIf="locationGroup.get('cityCtrl').invalid">
                 please provide a city name.
               </mat-error>
             </mat-form-field>
           </td>
         </tr>
         <tr>
           <td class="pr-1">
             <mat-form-field class="w-100">
               <input
                 matInput
                 placeholder="State*"
                 formControlName="stateCtrl"
               />
               <mat-error *ngIf="locationGroup.get('stateCtrl').invalid">
                 please provide a state name.
               </mat-error>
             </mat-form-field>
           </td>
           <td>
             <mat-form-field class="w-50">
               <input
                 matInput
                 placeholder="ZipCode*"
                 formControlName="zipCodeCtrl"
               />
               <mat-error *ngIf="locationGroup.get('zipCodeCtrl').invalid">
                 please provide a zipCode.
               </mat-error>
             </mat-form-field>
           </td>
         </tr>
       </table>
 
       <div>
         <button mat-raised-button matStepperPrevious style="margin: 10px;"><mat-icon>arrow_backward</mat-icon>   Back</button>
         <button mat-raised-button matStepperNext style="margin: 10px; color: midnightblue">Next   <mat-icon>arrow_forward</mat-icon></button>
         <button mat-raised-button [routerLink]="['/admin/event-management']" style="margin: 10px;color: tomato">Cancel   <mat-icon>cancel</mat-icon></button>
       </div>
     </form>
   </mat-step>
   <!-- #################### Date & Time Details #################################### -->
   <mat-step [stepControl]="dateTimeGroup">
     <form [formGroup]="dateTimeGroup">
       <ng-template matStepLabel>Date & Time</ng-template>
       <table class="w-60">
         <tr>
           <td class="pr-1">
             <mat-form-field>
               <input matInput [matDatepicker]="sDatePicker" placeholder="Start Date*" formControlName="sDateCtrl">
               <mat-datepicker-toggle matSuffix [for]="sDatePicker"></mat-datepicker-toggle>
               <mat-datepicker #sDatePicker></mat-datepicker>
               <mat-error *ngIf="dateTimeGroup.get('sDateCtrl').invalid">
                 please provide a Start Date.
               </mat-error>
             </mat-form-field>
           </td>
           <td>
             <mat-form-field>
               <input matInput [matDatepicker]="eDatePicker" placeholder="End Date*" formControlName="eDateCtrl">
               <mat-datepicker-toggle matSuffix [for]="eDatePicker"></mat-datepicker-toggle>
               <mat-datepicker #eDatePicker></mat-datepicker>
               <mat-error *ngIf="dateTimeGroup.get('eDateCtrl').invalid">
                 please provide a End Date.
               </mat-error>
             </mat-form-field>
           </td>
         </tr>
         <tr>
           <td class="pr-1">
             <mat-form-field>
               <input matInput placeholder="Start Time*" formControlName="sTimeCtrl"/>
               <mat-error *ngIf="dateTimeGroup.get('sTimeCtrl').invalid">
                 please provide a Start Time.
               </mat-error>
             </mat-form-field>
           </td>
           <td>
             <mat-form-field>
               <input matInput placeholder="End Time*" formControlName="eTimeCtrl"/>
               <mat-error *ngIf="dateTimeGroup.get('eTimeCtrl').invalid">
                   please provide a End Time.
                 </mat-error>
             </mat-form-field>
           </td>
         </tr>
       </table>
       <div>
           <button mat-raised-button matStepperPrevious style="margin: 10px;"><mat-icon>arrow_backward</mat-icon>   Back</button>
           <button mat-raised-button matStepperNext style="margin: 10px; color: midnightblue">Next   <mat-icon>arrow_forward</mat-icon></button>
           <button mat-raised-button [routerLink]="['/admin/event-management']" style="margin: 10px;color: tomato">Cancel   <mat-icon>cancel</mat-icon></button>
       </div>
     </form>
   </mat-step>
   <!-- #################### Ticket Price Details #################################### -->
   <mat-step [stepControl]="ticketGroup">
     <form [formGroup]="ticketGroup">
       <ng-template matStepLabel>Ticket Price</ng-template>
       <table class="w-60">
         <tr>
           <td colspan="2"><i style="color:blue;">Leave empty if free event!</i></td>
         </tr>
         <tr>
           <td class="pr-1">
             <mat-form-field>
               <input matInput placeholder="Adult Ticket Price" formControlName="adltTktPriceCtrl" type="number">
               <span matPrefix>$&nbsp;</span>
             </mat-form-field>
           </td>
           <td>
             <mat-form-field>
               <input matInput placeholder="Child Ticket Price" formControlName="chldTktPriceCtrl" type="number">
               <span matPrefix>$&nbsp;</span>
             </mat-form-field>
           </td>
         </tr>
       </table>
       <div>
           <button mat-raised-button matStepperPrevious style="margin: 10px;"><mat-icon>arrow_backward</mat-icon>   Back</button>
           <button mat-raised-button matStepperNext style="margin: 10px; color: midnightblue">Next   <mat-icon>arrow_forward</mat-icon></button>
           <button mat-raised-button [routerLink]="['/admin/event-management']" style="margin: 10px;color: tomato">Cancel   <mat-icon>cancel</mat-icon></button>
       </div>
     </form>
   </mat-step>
   <!-- #################### Image Details #################################### -->
   <mat-step [stepControl]="imageGroup">
     <form [formGroup]="imageGroup">
       <ng-template matStepLabel>Upload Image</ng-template>
       <div>
         <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
         <input type="file" #filePicker (change)="onImagePicked($event)">
       </div>
       <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && imageGroup.get('imageCtrl').valid">
         <img [src]="imagePreview" [alt]="imageGroup.value.title">
       </div>
       <div *ngIf="!isImage">
           <mat-error>File selected is not an image type.</mat-error>
       </div>
 
       <div>
           <button mat-raised-button matStepperPrevious style="margin: 10px;"><mat-icon>arrow_backward</mat-icon>   Back</button>
             <button mat-raised-button (click)="stepper.reset()" style="margin: 10px; color: midnightblue"><mat-icon>autorenew</mat-icon>   Reset</button>
             <button mat-raised-button type="submit" style="margin: 10px; color: rgb(30, 218, 5)">Save Event <mat-icon>how_to_reg</mat-icon></button>
             <button mat-raised-button [routerLink]="['/admin/event-management']" style="margin: 10px; color: tomato">Cancel   <mat-icon>cancel</mat-icon></button>
 
       </div>
     </form>
   </mat-step>
   <!-- <mat-step>
     <ng-template matStepLabel>Done</ng-template>
       Press save to save the Event
     <div>
       <button mat-raised-button matStepperPrevious style="margin: 10px;">Back</button>
       <button mat-raised-button (click)="stepper.reset()" style="margin: 10px;">Reset</button>
       <button mat-raised-button color="accent" type="submit" style="margin: 10px;">Save</button>
     </div>
   </mat-step> -->
 </mat-horizontal-stepper>
 
 <!-- <div mat-dialog-actions>
   <button mat-button cdkFocusInitial>
     Create
   </button>
   <button mat-button (click)="onClickedCancel()">Cancel</button>
 </div> -->
 