<h3>Event Management</h3>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Event</th>
      <th>Category</th>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of eventslist; index as i; let o=odd; let e=even;"
      [ngClass]="{odd: o, even: e}">
      <td>{{event.eventName}}</td>
      <td>{{event.category}}</td>
      <td>{{event.location}}</td>
      <td>{{event.startDate}}</td>
      <td>{{event.endDate}}</td>
      <a [routerLink]="['../edit-event',event.id]">Edit</a>
    </tr>
  </tbody>
</table>
<br>
<a routerLink="/admin/create-event">add a new event</a>

