@media (max-width: 600px) {
  mat-card {
    width: 80%;
  }
}

@media (min-width: 601px) and (max-width: 750px) {
  mat-card {
    width: 70%;
  }
}

@media (min-width: 751px) and (max-width: 900px) {
  mat-card {
    width: 55%;
  }
}

@media (min-width: 901px) {
  mat-card {
    width: 40%;
  }
}

mat-card {
  margin: auto;
  margin-top: 5%;
}

mat-form-field, textarea{
  width: 100%;
}

