<mat-card>
  <mat-card-content>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field >
        <input  matInput placeholder="Event Name" formControlName="eventName"
          (change)="capitalizeText('eventName')" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Location" formControlName="location"
          (change)="capitalizeText('location')">
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Description" formControlName="description"
	  (change)="capitalizeText('description')">
      </mat-form-field>
      <mat-form-field >
        <input type="date" matInput placeholder="Start Date" formControlName="startDate">
      </mat-form-field>
      <mat-form-field >
        <input type="date" matInput placeholder="End Date" formControlName="endDate">
      </mat-form-field>
      <mat-form-field >
        <input type="time" matInput placeholder="Start Time" formControlName="startTime">
      </mat-form-field>
      <mat-form-field >
        <input type="time" matInput placeholder="End Time" formControlName="endTime">
      </mat-form-field>
      <mat-form-field >
        <input type="number" matInput placeholder="Adult Ticket Price" formControlName="adultTicketPrice">
      </mat-form-field>
      <mat-form-field >
        <input type="number" matInput placeholder="Child Ticket Price" formControlName="childTicketPrice">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Image Url Path</mat-label>
        <input type="text" matInput readonly placeholder="No File Uploaded" formControlName="imagePath">
      </mat-form-field>
      <input type="file" (change)="onFileChanged($event)"> 
      <mat-card-actions>
        <button  mat-raised-button color="primary" type="submit">
          Submit
        </button>
        <button  mat-raised-button color="warn" type="button" (click)="onCancel()">
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
  
