<mat-grid-list cols="4" rowHeight="3:4">
  <mat-grid-tile *ngFor="let event of events;">
    <mat-card class="event-card">
      <mat-card-header>
        <mat-card-title>{{ event.eventName }}</mat-card-title>
        <mat-card-subtitle>{{ event.location }}</mat-card-subtitle>
      </mat-card-header>
      <app-event-image [event]="event"></app-event-image>
      <mat-card-actions>
        <button mat-button (click)="getDetailView(event.id)">View Details</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
