<div class="event-grid">
    <mat-card *ngFor="let event of events;" class="{{ getClass(event.status) }}">
      <mat-card-header>
        <mat-card-title>{{ event.eventName }}</mat-card-title>
        <mat-card-subtitle>{{ event.location }}</mat-card-subtitle>
      </mat-card-header>
      <app-event-image [event]="event"></app-event-image>
      <mat-card-actions>
        <button mat-button (click)="getDetailView(event.id)">View Details</button>
      </mat-card-actions>
    </mat-card>
</div>
