<mat-card>
    <mat-card-content>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="example-form">
      <!--{{loginForm.value | json}}-->
    <mat-form-field >
    <input  matInput placeholder="eventName" formControlName="eventName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>category</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="location" formControlName="location">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="description" formControlName="description">
  </mat-form-field>
  <mat-form-field >
    <input type="date" matInput placeholder="startDate" formControlName="startDate">
  </mat-form-field>
  <mat-form-field >
    <input type="date" matInput placeholder="endDate" formControlName="endDate">
  </mat-form-field>
  <mat-form-field >
    <input type="time" matInput placeholder="startTime" formControlName="startTime">
  </mat-form-field>
  <mat-form-field >
    <input type="time" matInput placeholder="endTime" formControlName="endTime">
  </mat-form-field>
  <div class="filler-2"></div>
  <mat-form-field >
    <input type="number" matInput placeholder="adultTicketPrice" formControlName="adultTicketPrice">
  </mat-form-field>
  <mat-form-field >
    <input type="number" matInput placeholder="childTicketPrice" formControlName="childTicketPrice">
  </mat-form-field>
  <mat-form-field >
    <input type="url" matInput placeholder="image url" formControlName="imageurl">
  </mat-form-field>
  
    <mat-card-actions>
        <button  mat-raised-button color="primary" type="submit">
          Submit
        </button>
  
        <button  mat-raised-button color="warn" type="reset">
          Cancel
        </button>
      </mat-card-actions>
  </form>
  </mat-card-content>
  </mat-card>
  
