<div>
<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="example-form">
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input  matInput placeholder="eventName" formControlName="eventName">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="category" formControlName="category">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="status" formControlName="status">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="location" formControlName="location">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
      <input matInput placeholder="description" formControlName="description">
      </mat-form-field></td>
  </tr>
</table>
  <p>
    <mat-form-field class="example-full-width">
      <input type="date" matInput placeholder="startDate" formControlName="startDate">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="date" matInput placeholder="endDate" formControlName="endDate">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="time" matInput placeholder="startTime" formControlName="startTime">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="time" matInput placeholder="endTime" formControlName="endTime">
    </mat-form-field>
  </p>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="adultTicketPrice" formControlName="adultTicketPrice">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="childTicketPrice" formControlName="childTicketPrice">
    </mat-form-field></td>
    <!-- <td><mat-form-field class="example-full-width">
      <input type="file" placeholder="image" formControlName="image">
    </mat-form-field></td> -->
  </tr></table>
  <button type="submit" [disabled]="!eventForm.valid">Submit</button>
</form>
</div>