<p>User Management</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Index</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as i; let o=odd; let e=even;"
      [ngClass]="{odd: o, even: e}">
      <td>{{i+1}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td> <button text-aligned=center>Edit</button> 
      <td> <button text-aligned=center>Delete</button> 
    </tr>
  </tbody>
</table>

