<p>User Management</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Index</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userslist; index as i; let o=odd; let e=even;"
      [ngClass]="{odd: o, even: e}">
      <td>{{i+1}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td> <input type="button" (click)="userUpdate(i)" text-aligned="center" value="Edit"> </td>
      <td> <input type="button" (click)="userDelete(i)" text-aligned="center" value="Delete"></td>
    </tr>
  </tbody>
</table>

<br>
<a routerLink="/admin/user-create">Add User</a>
