<mat-toolbar  style="background:bisque">
    <span>NGO</span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <div><a mat-button routerLink="/api/users">User Management</a></div>
        <div><a mat-button routerLink="/api/events">Event Management</a></div>
        <div><a mat-button routerLink="/view">User View</a></div>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>

