<!-- <mat-toolbar  style="background:bisque">
    <span>NGO</span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <div><a mat-button routerLink="/admin/user-management">User Management</a></div>
        <div><a mat-button routerLink="/admin/event-management">Event Management</a></div>
        <div><a mat-button routerLink="/admin/user-view">User View</a></div>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
 -->


 <header>
    <app-nav-bar></app-nav-bar>
</header>
  <main>
    <router-outlet></router-outlet>
  </main>
  
  