<div class="event-container">
  <mat-card class="event-detail">
    <mat-card-header>
      <mat-card-title>Event Title</mat-card-title>
      <mat-card-subtitle>Event Category</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="location-text">
        Event Location
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="event-description">
    <img mat-card-image src="/assets/image-not-found.png" alt="Image Not Found" />
    <mat-card-content>
      <p class="description-text">
        Details details details
      </p>
    </mat-card-content>
  </mat-card>
</div>
