<h1 mat-dialog-title>Event Name - Registration</h1>
<div mat-dialog-content>
  <form class="registration-form">
    <mat-form-field>
      <input matInput placeholder="First Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email Address" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contact No." />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="No. Adults" type="number" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="No. Children" type="number" />
    </mat-form-field>
  </form>
</div>
